# cookies from deepseek
DEEPSEEK_COOKIES= # ; saperated cookies from deepseek
# userToken from deepseek
DEEPSEEK_TOKEN= # update token from deepseek sites localstorage

# servr conf
PORT=8000
HOST=0.0.0.0

# wasm location
WASM_PATH="ds_api\sha3_wasm_bg.wasm"

API_KEYS="asdfghjkl"# add comma separated keys as verified while user makes requesr
