#!/bin/bash
# Navigate to your project directory
cd "C:/path/to/your/project"

# Activate your virtual environment (optional, but highly recommended. un-comment below line then.)
# source "C:/path/to/your/project/venv/Scripts/activate"

# Run Uvicorn
uvicorn app:app --host 0.0.0.0 --port 8000 --reload